<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Practice</title>
    <!--Container for meta data(not displayed)-->


</head>
<body>

<h1>Welcome to Java developer course!!!</h1>
<h2>Welcome to Java developer course!!!</h2>
<h3>Welcome to <b>Java</b> developer course!!!</h3>
<h4>Welcome to <i>Java</i> developer course!!!</h4>

<h1 align="center" style="color: #2f1c06">java</h1>

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>

</ul>

<a href="http://amazon.com">Amazon link</a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Value</td>
    </tr>
</table>

<!--forms-->

<label>Username</label>
<input type="text" name="Username">
<br>
<label>Password</label>
<input type="password" name="Password">
<br>
<label>Enter your comment</label>
<textarea name="comments"></textarea>
<br>

<label>Please enter you favorite subject:</label>
<input type="radio" name ="Spring" value="IoC" checked="checked">IoC
<input type="radio" name ="Spring" value="DI" checked="checked">DI
<input type="radio" name ="Spring" value="MVC" checked="checked">MVC

<br>
<label>Please select you company:</label><br>
<input type="checkbox" name="company" value="Bank of America">Bank of America
<input type="checkbox" name="company" value="Chase">Chase
<input type="checkbox" name="company" value="PNC">PNC
<br>

<label>Select you car:</label>
<select name="cars">
    <option value="honda"Honda></option>
    <option value="nissan"Nissan></option>
    <option value="bmw"BMW></option>

    </select>
<br>
<form action="#" method="get">
First Name: <input type="text" name="first_name">
    <br>
First Last: <input type="text" name="last_name">
</form>


</body>
</html>